/*=========================
            FOOTER
===========================*/

.footer {
    background-color: #4ABAE7;
    color: white;
    padding: 2em 2em;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    max-width: 100%;
    margin: 0 auto;
  }
  

  .footer div.navegacao ul li{
    font-size: 1.5em;
    margin-bottom: 2em;
  }

  .footer div.navegacao, div.redes-sociais, div.devs{
    min-width: 200px;
  }
  
  .footer h4 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .footer div.redes-sociais{
    text-align: center;
}

  .footer div.devs{
    text-align: end;
}
  .footer div.devs ul li {
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }
  
  .footer div.navegacao ul li a, div.devs ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer div.navegacao ul li a:hover, div.devs ul li a:hover {
    color: #000000;
  }
  
  .social-icons{
    display: flex;
    justify-content: center;
  }

  .social-icons li{
    margin-right: 1vw;
  }

  .social-icons a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
  }
  
  .social-icons a img:hover {
    transform: scale(1.2);
  }
  
  @media (max-width: 768px) {
    .footer{
      flex-direction: column;
      text-align: center;
    }
  
    .navegacao ul, .redes-sociais ul, .devs ul, .devs h4{
      text-align: center;
    }
  }  