/*=========================
            TOPO
===========================*/
.home{
    header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.5s;
        z-index: 10;
    }
    
    header.rolagem{
        background-color: #8BC9EF;
    }
    
    header h1 a img{
        height: 84px;
        width: 484px;
    }
    
    header nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header nav ul{
        display: flex;
    }
    
    header nav ul li{
        margin: 0 2vw 0 0;
        font-size: 1.4rem;
        font-weight: 500;
    }

    header nav ul li a::after{
        content: '';
        display: block;
        background-color: white;
        height: 3px;
        width: 0%;
        transition: 0.5s;
    }

    header nav ul li a:hover::after{
        width: 100%;
    }

    .menu-icon, .menu-mobile{
        display: none;
    }

    }  /*formatação apenas para a homepage*/
    
    /*=========================================
                    MOBILE
    ==========================================*/

    @media (max-width: 720px ){

        #header{
            background-color: #8BC9EF;
        }

        #header .logo h1 a img{ 
            width: 250px;
            height: auto;
        }

         .nav-lista{
            display: none;
        }

        #header .menu-icon{
            display: block;
            padding: 2vw;
        }

        #header .menu-icon button{
            background-color: transparent;
            border: none;
        }

        #header .menu-mobile ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 5vw;
        }

        #header .menu-mobile ul li{
            display: block;
            padding-top: 2vw;
        }

       #header .open{
            display: block;
        }
    }