/*==============================================
                 HOME
==============================================*/

.banner {
    height: 100vh;
    background: linear-gradient(rgba(4, 40, 47, 0.65), rgba(4, 40, 47, 0.65)), url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h1 {
    font-size: 4.5em;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 40%;
}

/*FIM DA FORMATAÇÃO DO BANNER*/

.maleficios {
    margin: 5vw 3vw 5vw 3vw;
}

.container {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.container div h2 {
    font-size: 3em;
    font-weight: 600;
    color: #353535;
    width: 70%;
}

.container div p {
    font-size: 1.5em;
    margin-top: 2vw;
    width: 80%;
    text-align: justify;
}


/*FORMATAÇÃO DOS CARDS*/
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}


.icon {
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

.icon img{
    width: 90px;
}

.conteudo p{
    font-size: 1.3em;
    color: #555;
    line-height: 1.5em;
    text-align: justify;
}

.conteudo h3{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1vw;
    color: #353535;
    text-align: center;
}


.conteudo {
    height: 215px;
    overflow: hidden;
    position: relative;
}

.conteudo::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, #f9f9f9 );
}

.card.ativado .conteudo{
    height: auto;
}

.card.ativado .conteudo::before {
    visibility: hidden;
}

.lista-maleficios ul{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    margin-top: 3vw;
}

.lista-maleficios li {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ler-mais{
    border: 1px solid #5BA6D4;
    color: #5BA6D4;
    background-color: #f9f9f9;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
    margin-top: 1vw;
    margin-bottom: 1vw;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    cursor: pointer;
}

.ler-mais::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 103%;
    background-color: #5BA6D4;
    z-index: -1;
    transition: 0.5s;
}

.ler-mais:hover{
    color: white;
}

.ler-mais:hover::before{
    width: 101%;
}

/*FIM DA FORMATAÇÃO DOS CARDS*/

.referencia{
    font-size: 1.5em;
    margin-top: 2vw;
}

.referencia a{
    text-decoration: underline;
    color: #5BA6D4;
}

.video{
    text-align: center;
}
.video h2 {
    font-size: 4em;
    font-weight: 500;
    color: #353535;
}
.display {
    display: flex;
    justify-content: center;
    margin: 2vw 0;
}
.display div iframe {
    margin-left: 1.5vw;
    width: 560px;
    height: 315px;
}
/*==============================================
                 MOBILE
==============================================*/

@media (max-width: 720px ){
    
    .banner{
        height: 50vh;
    }
    
    .banner h1{
        font-size: 2em;
        width: 75%;
    }

    .maleficios .container{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .container div h2{
        font-size: 1.3em;
        width: 100%;
        margin-top: 5vw;
    }

    .container div p{
        font-size: 0.8em;
        width: 100%;
        margin-top: 2vw;
    }

    .container div img{
        width: 150px;
    }

    .lista-maleficios ul{
        display: block;
        width: 95%; 
    }

    .lista-maleficios ul li{
        width: 100%;
        padding: 10px;
        margin: 10vw 0 10vw 0;
    }

    .icon img{
        width: 50px;
    }


    .conteudo h3{
        font-size: 1.4em;
    }

    .conteudo p{
        font-size: 1em;
    }

    .ler-mais::before{
        content: none;
    }

    .ler-mais:hover{
        color: #5BA6D4;
    }

    .ler-mais:active{
        transform: scale(0.95);
        background-color: #b9b8b8;
    }   
    
    .referencia{
        font-size: 0.8em;
    }
    .video h2 {
        font-size: 2em;
    }
    .display {
        flex-direction: column;
        text-align: center;
        margin: 0 13vw;
        
    }
    .display div iframe{
        max-width: 320px;   
        height: auto;
        margin: 2vw 0;
        
    }
}


/*===============================================================
                        TABLET
=================================================================*/


@media (max-width: 1075px) {
    
    #header{
        background-color: #8BC9EF;
    }

    #header .logo h1 a img{ 
        width: 250px;
        height: auto;
    }

     .nav-lista{
        display: none;
    }

    #header .menu-icon{
        display: block;
        padding: 2vw;
    }

    #header .menu-icon button{
        background-color: transparent;
        border: none;
    }

    #header .menu-mobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 5vw;
    }

    #header .menu-mobile ul li{
        display: block;
        padding-top: 2vw;
    }

   #header .open{
        display: block;
    }

    .banner h1{
        font-size: 3em;
        width: 60%;
    }

    .maleficios .container{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }



    .container div h2{
        font-size: 2em;
        width: 100%;
        margin-top: 5vw;
    }

    .container div p{
        font-size: 1em;
        width: 100%;
        margin-top: 2vw;
    }

    .container div img{
        width: 300px;
        height: auto;
    }

    .lista-maleficios ul{
        display: block;
        width: 95%; 
    }

    .lista-maleficios ul li{
        width: 100%;
        padding: 10px;
        margin: 10vw 0 10vw 0;
    }

    .icon img{
        width: 90px;
    }


    .conteudo h3{
        font-size: 1.6em;
    }

    .conteudo p{
        font-size: 1.2em;
    }

    .ler-mais::before{
        content: none;
    }

    .ler-mais:hover{
        color: #5BA6D4;
    }

    .ler-mais:active{
        transform: scale(0.95);
        background-color: #b9b8b8;
    }   
    
    .referencia{
        font-size: 1em;
    }
}