/*=========================
            TOPO
===========================*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #8BC9EF;
    box-shadow: 0px 3px 10px #464646;
    z-index: 1;
}
header h1 a img{
    height: 84px;
    width: 484px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
}
header nav ul li{
    margin: 0 2vw 0 0;
    font-size: 1.4rem;
    font-weight: 500;
}

header nav ul li a::after{
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: white;
    transition: 0.5s;
}

header nav ul li a:hover::after{
    width: 100%;
}
.menu-icon, .menu-mobile{
    display: none;
}
/*===================
      SOBRE NÓS
=====================*/ 
.section1 {
    margin: 10vw 5vw 5vw 5vw;
}

.section1 h2.sobre-nos {
    font-size: 4.5vw;
    font-weight: 500;
    margin: 2vw 0 2vw 0;
    display: flex;
}
.section1 h2.sobre-nos div{
    color: #0072C4;
    margin: 0 2vw 0 2vw;
    transition: 0.5s;
}
.section1 p {
    margin: 2.5vw 0 2.5vw 0;
    font-size: 1.5vw;
    width: 85%;
    line-height: 145%;
}

.section2{
    margin: 0 5vw 5vw 5vw;
}

.section2 h2 {
    font-size: 4vw;
    font-weight: 500;
    margin: 2vw 0 2vw 0;
    display: flex;
}

.section1 h2.sobre-nos div:hover{
    color: #005A9C;
}

.section2 h2 div {
    color: #0072C4;
    margin: 0 2vw 0 2vw;
    transition: 0.5s;
}

.section2 h2 div:hover{
    color: #005A9C;
}

.section2 ul li{
    font-size: 1.5vw;
    margin: 1vw 0 1vw 0;
}



.section3 h2{
    text-align: center;
    font-size: 4em;
    font-weight: 500;
    width: 9%;
    margin: 3vw auto;
    border-bottom: 2px solid #0072C4;
}

.section3 ul.devs {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    
}

.section3 ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3vw 3vw 5vw 3vw;
}

.section3 ul li img{
    width: 250px;
    height: auto;
    transition: 0.5s;
}

.section3 ul li h4{
    text-align: center;
    font-size: 1.8em;
    width: 85%;
    margin: 2vw 0 1vw 0;
}

.section3 ul li p{
    font-size: 1.3em;
    color: #6E6E6E;
}

.section3 ul li img:hover{
    transform: scale(1.02);
}


/*==============================================
                MOBILE
===============================================*/
@media (max-width: 720px ) {

    .section1 {
        margin-top: 20vw;
    }

    .section1 p{
        font-size: 0.5em;
    }

    .section2 ul li{
        font-size: 0.5em;
    }

    .section3 h2{
        font-size: 2em;
        width: 100%;
        border-bottom: none;
        margin: 3vw auto;
    }

    .section3 ul{
        flex-direction: column;
    }

    .section3 ul  li img{
        width: 100px;
    }

    .section3 ul li h4{
        font-size: 1.2em;
    }

    .section3 ul li p{
        font-size: 1em;
    }
}


/*===============================================================
                        TABLET
=================================================================*/


@media (max-width: 1075px) {
    
    #header{
        background-color: #8BC9EF;
    }

    #header .logo h1 a img{ 
        width: 250px;
        height: auto;
    }

     .nav-lista{
        display: none;
    }

    #header .menu-icon{
        display: block;
        padding: 2vw;
    }

    #header .menu-icon button{
        background-color: transparent;
        border: none;
    }

    #header .menu-mobile ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 5vw;
    }

    #header .menu-mobile ul li{
        display: block;
        padding-top: 2vw;
    }

   #header .open{
        display: block;
    }


    .section1 {
        margin-top: 20vw;
    }

    .section1 p{
        font-size: 1em;
    }

    .section2 ul li{
        font-size: 1em;
    }

    .section3 h2{
        font-size: 2.4em;
        width: 100%;
        border-bottom: none;
        margin: 3vw auto;
    }


    .section3 ul  li img{
        width: 100px;
    }

    .section3 ul li h4{
        font-size: 1em;
    }

    .section3 ul li p{
        font-size: 1em;
    }
}